/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1023px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

/* Default Width: */

.fit_app_section{
    padding: 10px;
}

.sidebar_menu_btn{
    top: 0px;
    left: 0px;
    margin: 10px;
    position: absolute;
}
.sidebar_menu_wrapper{
    padding: 0 !important;
    overflow: hidden;
}
.sidebar_menu{
    width: 100% !important;
}

.sidebar_active_menu_item{
    background: #f3f4f6;
}

.login_form {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.nav_bar_height{
    height: 5rem;
}


/* 
body {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background: rgba(0, 0, 0, 0.76);
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3 {
    font-family: 'Kaushan Script', cursive;
}

.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.tx-tfm {
    text-transform: uppercase;
}
 */


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

.red {
    color: red;
}

.green {
    color: rgb(78, 219, 23);
}

.grey {
    color: #555555
}

.blue {
    color: blue
}
.margin-r-5p{
    margin-right: 5px!important;
}